@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Bun venit!</h1>
    <h1 class="display-6">To-Do App pentru echipe</h1>
    <p><a class="nav-link text-dark" asp-controller="Task" asp-action="Create">Creaza Sarcina</a></p>
    <p><a class="nav-link text-dark" asp-controller="Home" asp-action="DespreNoi">Despre Noi</a></p>
    
</div>
